<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @property.company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item"><%= link_to @unit.name, [@property, @unit] %></li>
    <li class="breadcrumb-item"><%= link_to 'Lease', [@property, @unit, @lease_payment.lease] %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Lease Payment</li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Edit Lease Payment Reminder',
  text: 'You can change the date a lease payment is due. But if you need to change anything else, you should create a new lease :)' }
%>

<div class="card">
  <div class="card-body">
    <%= form_with(model: @lease_payment, local: true, url: property_unit_lease_payment_path) do |form| %>
      <div class="form-group">
        <%= form.label :local_amount, "Amount to charge for this payment" %>
        <%= form.number_field :local_amount, id: :local_amount, class: 'form-control' %>
        <small class='form-text text-muted'>Change the amount to charge for this lease payment.</small>
      </div>

      <div class="actions">
        <%= form.submit class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
