<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item"><%= link_to @unit.name, property_unit_path(@property, @unit) %></li>
    <li class="breadcrumb-item active" aria-current="page">New Resident</li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: "New Resident!",
  text: 'Add a new resident to your property. Your resident will be sent an invitation email.' }
%>

<div class="card">
  <div class="card-body">
    <%= form_with(model: @residency, local: true, url: property_unit_residencies_path) do |form| %>
      <%= render partial: 'layouts/errors', locals: { object: @residency } %>
      <div class="form-group">
        <%= form.label :unit_id, "Unit" %>
        <%= form.select(:unit_id, options_for_select(units_available(@residency.property_id), @residency[:unit_id]), {}, { class: "form-control input-lg" }) %>
      </div>

      <div class="form-group">
        <%= form.label :user_email, "Resident's Email" %>
        <%= form.email_field :user_email, class: "form-control" %>
      </div>

      <%= form.submit class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
