<li class="nav-item mr-1">
  <%= link_to authenticated_user_root_path, class: "nav-link #{'active' if current_page?(authenticated_user_root_path)}" do  %>
    <i class="fa fa-home"></i>
    Home
  <% end %>
</li>
<li class="nav-item mr-1">
  <%= link_to user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user))}" do %>
    <i class="fa fa-user"></i>
    Account
  <% end %>
</li>
<li class="nav-item mr-1">
  <%= link_to unit_messages_path(current_user.current_unit), class: "nav-link #{'active' if current_page?(unit_messages_path(current_user.current_unit))}" do %>
    <i class="fa fa-comments"></i>
    Chat
  <% end %>
</li>
<li class="nav-item mr-1">
  <%= link_to new_payment_path, class: "nav-link #{'active' if current_page?(new_payment_path)}" do %>
    <i class="fa fa-money"></i>
    New Payment
  <% end %>
</li>
<li class="nav-item mr-1">
  <% unless current_user.current_lease.kind_of?(NullLease) %>
    <%= link_to user_lease_path(current_user.current_lease), class: "nav-link lease-info__link #{'active' if current_page?(user_lease_path(current_user.current_lease))}" do %>
      <i class="fa fa-newspaper-o"></i>
      Lease Info
    <% end %>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to 'Sign Out',
    destroy_user_session_path,
    method: :delete,
    class: 'nav-link mr-1' %>
</li>
