<li class="nav-item">
  <%= link_to 'Home', authenticated_user_root_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Account',
    user_path(current_user),
    class: 'nav-link'%>
</li>
<li class="nav-item">
  <%= link_to "New Payment",
    new_payment_path,
    class: 'nav-link'
  %>
</li>
<li class="nav-item">
  <%= link_to 'Lease Info',
    user_lease_path(current_user.current_lease),
    class: "nav-link" %>
</li>

<li class="nav-item">
  <%= link_to 'Sign Out',
    destroy_user_session_path,
    method: :delete,
    class: 'nav-link'%>
</li>
