<nav aria-label="breadcrumb" class="sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page">Images</li>
  </ol>
</nav>

<h2 class="text-center m-4">Images for Property <%= @property.name %></h2>
<div class="card">
  <div class="card-body">
    <%= form_with(model: @property_image, local: true, id: 'new_property_image', url: property_property_images_path) do |form| %>
      <div class="card alert alert-warning">
        <div class="card-body">
          <p>
            Drop files or choose from your computer
          </p>
          <div class="form-group">
            <%= form.file_field :image, multiple: true, name: 'property_image[image]' %>
          </div>
        </div>
      </div>
    <% end %>

    <br>
    <%= link_to property_path(@property), class: 'btn btn-primary' do %>
      <i class="fa fa-chevron-left"></i>
      Back to Property
    <% end %>
  </div>
</div>

<script id="template-upload" type="text/x-handlebars-template">
<div class="upload">
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    {{progress}}
  </div>
</div>
</script>
<hr>

<div id="images" class="row">
  <%= render @property.property_images %>
</div>

