<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Your Account',
  text: 'This is your current information. If you like, you can edit it below.'
} %>

<div class="card">
  <div class="card-body">
    <%= form_with(model: @user, local: true) do |form| %>
      <%= render partial: 'layouts/errors', locals: { object: @user } %>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, id: :user_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :user_name, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Notifications',
  text: 'Information about how you receive notifications.'
} %>

<div class="card">
  <div class="card-body">
    <%= render @user.notification_subscription %>
  </div>
  <div class="card-footer bg-white">
    <%= link_to 'Edit', edit_user_notification_subscription_path(@user), class: 'font-weight-bold card-link' %>
  </div>
</div>
