<div class="row equal-height justify-content-md-center">
  <% properties.each do |property| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4", id="property_<%= property.id %>">
      <%= link_to property_path(property), class: 'card' do %>
        <% if property.property_images.present? %>
          <%= image_tag property.property_images.first.image.url(:medium), class: 'card-img-top' %>
        <% end %>
        <div class="card-body">
          <h3 class="card-title">
            <%= property.name %>
          </h3>
          <% if property.unread_notifications_for(current_property_manager).length > 0 %>
            <div class="text-center mb-4">
              <button type="button" class="btn btn-danger">
                Notifications <span class="badge badge-light"><%= property.unread_notifications_for(current_property_manager).length %></span>
              </button>
            </div>
          <% end %>
          <ul class="text-left">
            <li>
              units:
              <%= property.units.count %>
            </li>
            <li>
              address:
              <%= property.address_line1 %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
