<div class="card-deck">
  <% properties.each do |property| %>
    <div class="card">
      <%= image_tag "house-stock.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">
          <%= property.name %>
        </h4>
        <ul class="text-left">
          <li>
            units: 
            <%= property.units.count %>
          </li>
          <li>
            address: 
            <%= property.address_line1 %>
          </li>
        </ul>
        <%= link_to "Show", property_path(property), class: 'btn btn-light' %>
      </div>
    </div>
  <% end %>

  <div class="card text-center align-middle">
      <h4 class="card-header">
        <i class="fa fa-home fa-5x">
        </i>
      </h4>
    <div class="card-body">
      <p>
        Create a new Property. Creating a property is free. You can add units, residents, and create a payment schedule for your lease!
      </p>
      <%= link_to "New Property", new_property_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
