<div class="row equal-height">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card text-center align-middle alert alert-info">
      <div class="card-body">
        <h4 class="mb-4">
          Something New
        </h4>
        <p>
        Create a new Property. Creating a property is free. You can add units, residents, and create a payment schedule for your lease!
        </p>
          <%= link_to "New Property", new_property_path, class: 'btn btn-info' %>
        </div>
    </div>
  </div>
  <% properties.each do |property| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4 text-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= property.name %>
          </h4>
          <ul class="text-left">
            <li>
              units:
              <%= property.units.count %>
            </li>
            <li>
              address:
              <%= property.address_line1 %>
            </li>
          </ul>
        </div>
        <div class="card-footer bg-white">
          <%= link_to "Show", property_path(property), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
