<table class='table table-striped'>
  <thead class='thead-default'>
    <tr>
      <th scope='row'>Address city</th>
      <th scope='row'>Address line1</th>
      <th scope='row'>Address state</th>
      <th scope='row'>Address postal</th>
      <th scope='row'>Name</th>
      <th scope='row'>Description</th>
      <th scope='row' colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% properties.each do |property| %>
      <tr>
        <td><%= property.address_city %></td>
        <td><%= property.address_line1 %></td>
        <td><%= property.address_state %></td>
        <td><%= property.address_postal %></td>
        <td><%= property.name %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

