<nav aria-label="breadcrumb" class="sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @property.name %></li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: "Property #{@property.name}",
  text: '' }
%>
<div class="row equal-height">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card property-info">
      <div class="card-body">
        <h4>
          Property Information
        </h4>
        <div class="row mt-4">
          <div class="col-lg-3 col-sm-0 mt-2">
            <i class="fa fa-home fa-3x text-primary"></i>
          </div>
          <div class="col-lg-9 col-sm-12">
            <p>
              Edit your property information. Add pictures, update description.
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white">
        <%= link_to 'edit', edit_property_path(@property), class: 'card-link text-uppercase' %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card property-images">
      <% if @property.property_images.present? %>
        <div class="card-body">
        <h4>
          Images
        </h4>
          <div id="carouselControls" class="carousel slide mb-4" data-ride="carousel">
            <div class="carousel-inner bg-dark text-center">
              <% @property.property_images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag image.image.url(:medium),
                    class: 'd-block',
                    style: 'margin: 0 auto;height: 150px; max-width: 100%' %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="card-footer bg-white">
          <%= link_to 'Edit Images',
            new_property_property_image_path(@property),
            class: 'card-link text-uppercase' %>
        </div>
      <% else %>
        <div class="card-body alert-warning text-center">
          <h4>
            Images
          </h4>
          <p>
            You have no images for this property. Your tenants won't know what this property looks like!
          </p>
          <%= link_to 'Add Images',
            new_property_property_image_path(@property),
            class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'layouts/pretty_header', locals: {
  title: "Manage",
  text: 'Manage units, tenants, and everything from this section.' }
%>

<div class="card property-info mb-4">
  <div class="card-body">
    <div id="property_information"> </div>
    <div id="propertyId" data-property-id="<%= @property.id %>" />
    <%= javascript_pack_tag "property_information" %>

    </div>
  </div>
</div>



