<nav aria-label="breadcrumb" class="sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @unit.name %></li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: "New Unit",
  text: 'Create a new unit for your property! Enter this unit\'s name (apartment number, etc...) and a brief description.' }
%>

<div class="card">
  <div class="card-body">
    <%= render 'form', unit: @unit %>
  </div>
</div>
