<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item"><%= link_to 'Units', property_units_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @unit.name %></li>
  </ol>
</nav>

<% if @unit.residencies.count == 0 %>
  <div class="card alert alert-success text-center welcome-message-manager mt-4">
    <div class="card-body">
      <h4 class="card-title">
        Good job adding this unit to your property
      </h4>
      <p class="card-text">
        This is your "Unit" dashboard. This is where you can find all information regarding this unit. This is where you can:
      </p>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-12 text-left">
          <ul>
            <li>Add/edit lease information</li>
            <li>Chat with your residents in this unit</li>
            <li>Invite a new resident to use this platform</li>
          </ul>
        </div>
      </div>
      <p class="card-text">
      Let's continue by inviting a new resident. All you need is their email.
      </p>
      <%= link_to "Invite Resident", new_property_unit_residency_path(@property, @unit), class: 'btn btn-success new-property-unit-resident-success__button' %>
    </div>
  </div>
<% end %>

<%= render partial: 'layouts/pretty_header', locals: {
  title: "#{@unit.name}",
  text: 'Here is the dashboard for your unit within this property. Handle and manage anything related to this unit/apartment here. You can chat with your tenants, manage leases and payments, and edit the unit\'s information!' }
%>

<div class="row equal-height">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to edit_property_unit_path(@unit.property, @unit), class: 'card property-info' do %>
      <div class="card-body">
        <h4>
          Unit Information
        </h4>
        <p>
          <strong>Property:</strong>
          <%= @unit.property_id %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @unit.description %>
        </p>

        <p>
          <strong>Name:</strong>
          <%= @unit.name %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <% if @unit.current_lease.is_a?(NullLease) %>
      <div class="card alert alert-warning text-center">
        <div class="card-body">
          <h4>
            Lease Information
          </h4>
          <p>
            You don't have a lease for this unit. Please add a lease now.
          </p>
          <p>
            <%= link_to 'New Lease', new_property_unit_lease_path(@unit.property, @unit),
              class: 'btn btn-warning'
            %>
          </p>
        </div>
      </div>
    <% else %>
      <%= link_to property_unit_lease_path(@unit.property, @unit, @unit.leases.last), class: 'card lease-info' do %>
        <div class="card-body">
          <h4>
            Lease Information
          </h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-bottom-0 border-top-0">
              <strong class="pull-left"> Total Payments: </strong>
              <span class="pull-right">
                <%= number_to_currency(@unit.current_lease.total_payments) %>
              </span>
            </li>
            <li class="list-group-item border-bottom-0 border-top-0">
              <strong class="pull-left">Already Paid:</strong>
              <span class="pull-right">
                <%= number_to_currency(@unit.current_lease.total_paid) %>
              </span>
            </li>
            <li class="list-group-item border-bottom-0 border-top-0">
              <strong class="pull-left"> Payments: </strong>
              <span class="pull-right">
                <%= @unit.current_lease.lease_payments.length %>
              </span>
            </li>
          </ul>
        </div>
      <% end %>
  <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to property_unit_messages_path(@unit.property, @unit), class: 'card' do %>
      <div class="card-body">
        <h4>
          Tenant Chat
        </h4>
        <div class="row mt-4">
          <div class="col-lg-3 col-sm-0 mt-2">
            <i class="fa fa-comments fa-3x text-primary"></i>
          </div>
          <div class="col-lg-9 col-sm-12">
            <p>
            Chat with your tenants. Respond to issues, and answer questions
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @unit.residencies.empty? %>
  <div class="card alert alert-warning text-center">
    <div class="card-body">
      <h3>
        Residents
      </h3>
      <p>
      You have not added any residents to this unit yet! Feel free to inivite someone now.
      </p>
      <%= link_to "Invite a new Resident", new_property_unit_residency_path(@property, @unit), class: 'btn btn-warning new-property-unit-resident__button' %>
    </div>
  </div>
<% else %>
  <%= render partial: 'layouts/pretty_header', locals: {
    title: "Current Residents",
    text: 'The list of current active residents for this unit' }
  %>

  <div class="text-center mb-4">
    <%= link_to "New Resident", new_property_unit_residency_path(@property, @unit), class: 'btn btn-info new-property-unit-resident__button' %>
  </div>

  <div class="row equal-height">
    <%= render partial: 'residencies/cards',
      locals: { unit: @unit, residencies: @unit.residencies, property: @property }
    %>
  </div>
<% end %>
