<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @property_manager.company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @property_manager.email %></li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Your Account',
  text: 'This is your current information. If you like, you can edit it below.'
} %>

<div class="card">
  <div class="card-body">
    <%= form_with(model: @property_manager, local: true) do |form| %>
      <%= render partial: 'layouts/errors', locals: { object: @property_manager } %>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, id: :property_manager_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :property_manager_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :avatar %>
        <%= form.file_field :avatar, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Notifications',
  text: 'Information about how you receive notifications.'
} %>

<div class="card">
  <div class="card-body">
    <%= render @property_manager.notification_subscription %>
  </div>
  <div class="card-footer bg-white">
    <%= link_to 'Edit', edit_property_manager_notification_subscription_path(@property_manager), class: 'font-weight-bold card-link' %>
  </div>
</div>
