<table class="table payments table-striped table-hover">
  <thead class="thead-default">
    <tr>
      <th scope="row">ID</th>
      <th scope="row">Amount</th>
      <th scope="row">Created</th>
      <th scope="row">Updated</th>
      <th scope="row">Status</th>
      <th scope="row">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= number_to_currency(payment.human_amount) %></td>
        <td><%= human_date(payment.created_at) %></td>
        <td><%= human_date(payment.updated_at) %></td>
        <td>
          <span class="badge <%= payment_badge(payment) %>">
            <%= payment.human_event_type %>
          </span>
        </td>
        <td><%= link_to 'More Information', payment_path(payment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
