<% if current_property_manager.is_company_admin? %>
  <% unless current_property_manager.company.stripe_account_guid.present? %>
    <div class="card alert alert-warning text-center">
      <div class="card-body">
        <h4 class="card-title">
          You must create an account to process payments
        </h4>
        <p class="card-text">
          before you can process any payments. You need to create an acocunt for payment processing
        </p>
        <%= link_to "Add Payment Processing",
          new_stripe_account_path,
          class: "btn btn-primary btn-warning" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-4">
    <div class="card">
      <h2 class="card-header">
        Company Information
      </h2>
      <div class="card-body">
        <p>
          <%= current_property_manager.company.name %>
        </p>
        <%= link_to 'Edit Company Info',
          edit_company_path(current_property_manager.company),
          class: 'btn btn-info'
        %>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="card">
      <h2 class="card-header">
        Properties
      </h2>
      <div class="card-body">
        <%= render partial: 'properties/table',
          locals: { properties: current_property_manager.company.properties }
        %>
        <%= link_to 'See All Properties', properties_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>
