<% unless current_property_manager.company.has_banking_information? %>
  <div class="card alert alert-warning text-center bank-warning">
    <div class="card-body">
      <h4 class="card-title">
        You must create an account to process payments
      </h4>
      <p class="card-text">
      before you can process any payments. You need to create an acocunt for payment processing
      </p>
      <%= link_to "Add Payment Processing",
        new_stripe_account_path,
        class: "btn btn-primary btn-warning" %>
    </div>
  </div>
<% end %>


<h3 class="text-center mt-3">Getting Started</h3>
<p class="text-center">Here is all the information you need for your company. Please edit this as you see fit</p>


<div class="row equal-height text-center">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <% if !current_property_manager.company.has_banking_information? %>
      <div class="card alert alert-warning bank-info">
        <div class="card-body">
          <h4>
            Bank Account
          </h4>
          <p>
          You must add payment processing in order to receive payments from tenants
          </p>
          <%= link_to(new_stripe_account_path) do %>
            <div class="btn btn-warning">
              Add Payment Processing
            </div>
          <% end %>
        <% else %>
          <div class="card bank-info">
            <div class="card-body">
              <h4>
                Bank Account
              </h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent">
                  <strong class="pull-left"> Name: </strong>
                  <span class="pull-right">
                    <%= current_property_manager.company.bank_account_name %>
                  </span>
                </li>
                <li class="list-group-item bg-transparent">
                  <strong class="pull-left">Account:</strong>
                  <span class="pull-right">
                    .....<%= current_property_manager.company.bank_account_last4 %>
                  </span>
                </li>
              </ul>
            <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to(edit_property_manager_path(current_property_manager), class: 'card account-info') do %>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4>
                Account
              </h4>
              <p>
              <i class="fa fa-user fa-3x text-primary"></i>
              </p>
              <p>
              <%= current_property_manager.name %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to(edit_company_path(current_property_manager.company), class: 'card company-info') do %>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4>
                Company
              </h4>
              <p>
              <i class="fa fa-drivers-license-o fa-3x text-primary">
              </i>
              </p>
              <p>
              <%= current_property_manager.company.name %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>

<h3 class="text-center mt-3">Properties</h3>
<p class="text-center">Make sure to add a property to get started. This is going to be awesome, you guys</p>
<div class="text-center mb-4">
  <%= link_to "Create New", new_property_path, class: 'btn btn-info new-property__button' %>
</div>

<%= render partial: 'properties/cards',
  locals: { properties: current_property_manager.company.properties }
%>
