<%# <% unless current_property_manager.company.has_banking_information? %>
<%#   <div class="card alert alert-warning text-center bank-warning mt-4">
<%#     <div class="card-body">
<%#       <h4 class="card-title">
<%#         You must create an account to process payments
<%#       </h4>
<%#       <p class="card-text">
<%#       before you can process any payments. You need to create an account for payment processing
<%#       </p>
<%#       <%= link_to "Add Payment Processing",
<%#         new_stripe_account_path,
<%#         class: "btn btn-primary btn-warning" %>
<%#     </div>
<%#   </div>
<%# <% end %>

<% if current_property_manager.company.properties.count == 0 %>
  <div class="card alert alert-success text-center welcome-message-manager mt-4">
    <div class="card-body">
      <h4 class="card-title">
        Welcome to LivingRoom
      </h4>
      <p class="card-text">
        Thank you for signing up for LivingRoom. Here is a list of things you need to do in order to get started.
      </p>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-12 text-left">
          <ul>
            <li>Add your property down below</li>
            <li>Add any units/apartments in your property</li>
            <li>Invite all your tenants to use LivingRoom</li>
            <li>Create and Manage leases for all your apartments</li>
          </ul>
        </div>
      </div>
      <p class="card-text">
        If you have any questions, email: help@livingroomhq.com
      </p>
      <%= link_to "Create a new property now!", new_property_path, class: 'btn btn-success new-property-success__button' %>
    </div>
  </div>
<% end %>

<h3 class="text-center mt-4">Getting Started</h3>
<p class="text-center">Here is all the information you need for your company. Please edit this as you see fit</p>

<script>
  $(function () {
    $('.bank-info').on('click', function() {
      $('.bank-info .card-body').html("<h4>Loading...</h4><p><i class='fa fa-spinner fa-spin fa-3x text-primary' /></p><p>loading financial information</p>");
    });
  });
</script>

<div class="row equal-height text-center">
  <% if !current_property_manager.company.has_banking_information? %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card alert alert-warning bank-info">
        <div class="card-body">
          <h4>
            Finances
          </h4>
          <p>
          You must add payment processing in order to receive payments from tenants
          </p>
          <%= link_to(new_stripe_account_path) do %>
            <div class="btn btn-warning">
              Add Payment Processing
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <%= link_to(company_finance_path(current_property_manager.company), class: 'card bank-info') do %>
        <div class="card-body">
          <h4>
            Finances
          </h4>
          <p>
            <i class="fa fa-money fa-3x text-primary"></i>
          </p>
          <p>
          Current balance & Bank Payout schedule
          </p>

          <!-- <ul class="list&#45;group list&#45;group&#45;flush"> -->
          <!--   <li class="list&#45;group&#45;item bg&#45;transparent"> -->
          <!--     <strong class="pull&#45;left"> Name: </strong> -->
          <!--     <span class="pull&#45;right"> -->
          <!--       <%#= current_property_manager.company.bank_account_name %> -->
          <!--     </span> -->
          <!--   </li> -->
          <!--   <li class="list&#45;group&#45;item bg&#45;transparent"> -->
          <!--     <strong class="pull&#45;left">Account:</strong> -->
          <!--     <span class="pull&#45;right"> -->
          <!--       .....<%#= current_property_manager.company.bank_account_last4 %> -->
          <!--     </span> -->
          <!--   </li> -->
          <!-- </ul> -->
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to(edit_property_manager_path(current_property_manager), class: 'card account-info') do %>
      <div class="card-body">
        <h4>
          Account
        </h4>
        <p>
        <i class="fa fa-user fa-3x text-primary"></i>
        </p>
        <p>
        <%= current_property_manager.name %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to(edit_company_path(current_property_manager.company), class: 'card company-info') do %>
      <div class="card-body">
        <h4>
          Company
        </h4>
        <p>
        <i class="fa fa-drivers-license-o fa-3x text-primary">
        </i>
        </p>
        <p>
        <%= current_property_manager.company.name %>
        </p>
      </div>
    <% end%>
  </div>
</div>

<h3 class="text-center mt-3">Properties</h3>
<p class="text-center">The properties that you manage.</p>
<% if current_property_manager.company.properties.blank? %>
  <div class="card alert alert-info text-center no-properties-warning mt-4">
    <div class="card-body">
      <h4 class="card-title">
        Add a new property here!
      </h4>
      <p class="card-text">
        Get started, add your first property. From there you can add units, tenants, and everything else!
      </p>
      <%= link_to "Create New", new_property_path, class: 'btn btn-info new-property-warning__button' %>
    </div>
  </div>
<% else %>
<div class="text-center mb-4">
  <%= link_to "Create New", new_property_path, class: 'btn btn-info new-property__button' %>
</div>
<% end %>


<%= render partial: 'properties/cards',
  locals: { properties: current_property_manager.company.properties }
%>
