<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Company</li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Company Information',
  text: 'This is your current company information. If you like, you can edit it below.'
} %>

<%= render @company %>

<% if current_property_manager.is_company_admin? %>
  <%= render partial: 'layouts/pretty_header', locals: {
    title: 'Company Managers',
    text: ''
  } %>

  <div class="card">
    <div class="card-body">
      <%= render 'companies/property_managers/table',
        property_managers: @company.property_managers
      %>
    </div>
  </div>
<% end %>
