<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item"><%= link_to 'Issues', property_issues_path(@property) %></li>
    <li class="breadcrumb-item"> <%= link_to "issue: #{@issue.id}", property_issue_path(@property, @issue) %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: "Issue #{@issue.id}, #{@issue.category}",
  text: 'Issues that have been reported by you.'
} %>

<div class="row">
  <div class="col-lg-8 col-sm-12">
    <h4 class="mb-4 text-center">Issue Information</h4>
    <div class="card">
      <% if @issue.issue_images.present? %>
        <%= image_tag @issue.issue_images.first.image.url(:original), class: 'card-img-top' %>
      <% end %>
      <div class="card-body">
        <h3>Updating issue id: <%= @issue.id %></h3>
        <hr>
        <%= form_with(model: @issue, local: true, url: (property_issue_path(@issue.property, @issue))) do |form| %>

          <div class="form-group">
            <%= form.label :category %>
            <%= form.select :category,
              options_for_select(
                Issue::ISSUE_CATEGORIES.map{|val| [val,val]},
                @issue.category),
              {},
              { class: 'form-control' } %>
          </div>

          <div class="form-group">
            <%= form.label :status %>
            <%= form.select :status,
              options_for_select(
                Issue::ISSUE_STATUSES.map{|val| [val,val]},
                @issue.status),
              {},
              { class: 'form-control' } %>
          </div>

        <%= form.submit class: "btn btn-primary btn-block" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12">
    <h4 class="mb-4 text-center">Comments</h4>
    <div id="issue_chat"></div>
    <div id="issueId" data-issue-id="<%= @issue.id %>" />

    <div id="commentable" data-id="<%= current_property_manager.id %>"
                          data-type="PropertyManager" />

    <%= javascript_pack_tag 'issue_chat' %>
  </div>
</div>


