  <h1 class="text-center mb-4 mt-4">
    Pay Your Rent
  </h1>
  <p class="text-center mb-4">
    It's easy to pay your rent online. The amount is already pre-filled out for you.
    If you're sharing the rent with another tenant, feel free to pay less than
    the amount shown
  </p>

<div class="card">
  <div class="card-body">
    <p>due date: <%= current_user.current_lease_payment.formatted_due_date %></p>
    <p>amount due: <%= current_user.current_lease_payment.amount_due %></p>
    <%= form_with(model: @payment, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>

      <%= f.submit class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
