<div class="col-sm-12 col-md-6 col-lg-4 mb-4", id="issue_<%= issue.id %>">
  <div class="card">
    <% if issue.issue_images.present? %>
      <%= image_tag issue.issue_images.first.image.url(:medium), class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <h3><%= issue.category %> <span class="pull-right small <%= issue_status_badge(issue) %>"><%= issue.status %></span></h3>
      <p><%= issue.description %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'View', property_issue_path(issue.property, issue), class: 'btn btn-info' %>
    </div>
  </div>
</div>
