<div class="col-sm-12 col-md-6 col-lg-4 mb-4", id="issue_<%= issue.id %>">
  <%= link_to unit_issue_path(current_user.current_unit, issue), class: 'card' do %>
    <% if issue.issue_images.present? %>
      <%= image_tag issue.issue_images.first.image.url(:medium), class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <h3><%= issue.category %> <span class="pull-right small <%= issue_status_badge(issue) %>"><%= issue.status %></span></h3>
      <p><%= issue.description %></p>
    </div>
    <div class="card-footer">
      <small>
        <strong>Reported By: </strong> <%= issue.reporter.name %> (<%= issue.reporter.email %>)
      </small>
    </div>
  <% end %>
</div>
