<%= form_with(model: lease, local: true, url: property_unit_leases_path) do |form| %>
  <% if lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :lease_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :lease_end_date %>
  </div>

  <div class="field">
    <%= form.label :payment_amount %>
    <%= form.number_field :payment_amount, id: :lease_payment_amount %>
  </div>

  <div class="field">
    <%= form.label :payment_due_day_of_month %>
    <%= form.number_field :payment_due_day_of_month, id: :lease_payment_due_day_of_month %>
  </div>

  <div class="field">
    <%= form.label :payment_days_until_late %>
    <%= form.number_field :payment_days_until_late, id: :lease_payment_days_until_late %>
  </div>

  <div class="field">
    <%= form.label :unit_id %>
    <%= form.number_field :unit_id, id: :lease_unit_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
