<%= form_with(model: lease, local: true, url: property_unit_lease_path) do |form| %>
  <%= render partial: 'layouts/errors', locals: { object: lease } %>
  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date,
      id: :lease_start_date,
      class: 'form-control',
      data: { provide: "datepicker", 'date-format': 'yyyy/mm/dd' } %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.text_field :end_date,
      id: :lease_end_date,
      class: 'form-control',
      data: { provide: "datepicker", 'date-format': 'yyyy/mm/dd' } %>
  </div>

  <div class="form-group">
    <%= form.label :payment_first_date %>
    <%= form.text_field :payment_first_date,
      id: :lease_payment_first_date,
      class: 'form-control',
      data: { provide: 'datepicker', 'date-format': 'yyyy/mm/dd' } %>
  </div>

  <div class="form-group">
    <%= form.label :payment_amount %>
    <%= form.number_field :payment_amount, id: :lease_payment_amount, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :payment_days_until_late %>
    <%= form.number_field :payment_days_until_late, id: :lease_payment_days_until_late, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :unit_id %>
    <%= form.number_field :unit_id, id: :lease_unit_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-info' %>
  </div>
<% end %>
