<p id="notice"><%= notice %></p>

<h1>Leases</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Payment amount</th>
      <th>Payment due day of month</th>
      <th>Payment days until late</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leases.each do |lease| %>
      <tr>
        <td><%= lease.start_date %></td>
        <td><%= lease.end_date %></td>
        <td><%= lease.payment_amount %></td>
        <td><%= lease.payment_due_day_of_month %></td>
        <td><%= lease.payment_days_until_late %></td>
        <td><%= lease.unit_id %></td>
        <td><%= link_to 'Show', [@property, @unit, lease] %></td>
        <td><%= link_to 'Edit', edit_property_unit_lease_path(@property, @unit, lease) %></td>
        <td><%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lease', new_lease_path %>
