<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @lease.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @lease.end_date %>
</p>

<p>
  <strong>Payment amount:</strong>
  <%= @lease.payment_amount %>
</p>

<p>
  <strong>Payment due day of month:</strong>
  <%= @lease.payment_first_date %>
</p>

<p>
  <strong>Payment days until late:</strong>
  <%= @lease.payment_days_until_late %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @lease.unit_id %>
</p>

<%= link_to 'Edit', edit_property_unit_lease_path(@property, @unit, @lease) %> |
<%= link_to 'Back', property_unit_leases_path(@property, @unit) %>
