<% unless @user.stripe_account_guid.present? %>
  <div class="card alert alert-warning text-center">
    <div class="card-body">
      <h4 class="card-title">
        Add your checking account
      </h4>
      <p class="card-text">
      Add your checking account to pay rent online. Your information is secure with our partner <a href="https://stripe.com/">stripe</a>.
      </p>
      <%= link_to('') do %>
        <div class="btn btn-warning" id="linkButton">
          <%= plaid_card_link_text %>
        </div>
      <% end %>
      <form id="ach_form" method="post" action="/tenant_plaid_accounts">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </div>
<% end %>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Getting Started',
  text: 'This is your basic information. Handle your banking information and your profile here.'
} %>

<div class="row equal-height text-center">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card banking <%= plaid_card_class %>">
      <div class="card-body">
        <h4>
          Banking
        </h4>
        <p>
        <i class="fa fa-bank fa-3x text-primary"></i>
        </p>
        <p>
        <% if @user.needs_to_sign_up_for_plaid? %>
          You need to add your bank account here in order to pay rent for the month. :)
        <% else %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">
              <strong class="pull-left"> Name: </strong>
              <span class="pull-right">
                <%= @user.bank_account_name %>
              </span>
            </li>
            <li class="list-group-item bg-transparent">
              <strong class="pull-left">Account:</strong>
              <span class="pull-right">
                ...<%= @user.bank_account_last4 %>
              </span>
            </li>
          </ul>
        <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card lease-info">
      <div class="card-body">
        <h4>
          Your Lease
        </h4>
        <p>
        <i class="fa fa-newspaper-o fa-3x text-primary"></i>
        </p>
        <% if @user.current_lease.kind_of?(NullLease) %>
          <p class="no-lease alert alert-warning">Your property manager hasn't created a lease for you yet.</p>
        <% else %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">
              <strong class="pull-left"> Start: </strong>
              <span class="pull-right">
                <%= human_date(@user.current_lease.start_date) %>
              </span>
            </li>
            <li class="list-group-item bg-transparent">
              <strong class="pull-left">End:</strong>
              <span class="pull-right">
                <%= human_date(@user.current_lease.end_date) %>
              </span>
            </li>
          </ul>
        <% end %>
      </div>
      <% unless @user.current_lease.kind_of?(NullLease) %>
        <div class="card-footer">
          <%= link_to(user_lease_path(current_user.current_lease)) do %>
            <div class="card-link font-weight-bold lease-info__link">
              View Lease Details
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card rent-info <%= lease_payment_style.card_class %>">
      <div class="card-body">
        <h4>
          Pay Rent
        </h4>
        <p>
        <i class="fa fa-money fa-3x text-primary"></i>
        </p>
        <% if @lease_payment %>
          <strong>
            Current Owed:
          </strong>
          <p>
          <%= number_to_currency(@user.current_human_amount_owed) %>
          </p>
          <p>
          due in <%= pluralize(@lease_payment.due_in_days, 'day') %>
          </p>
        <% end %>
      </div>
      <div class="card-footer">
        <%= link_to new_payment_path, class: lease_payment_style.card_class, id: 'pay-lease__link' do %>
          <div class="card-link font-weight-bold">
            <%= lease_payment_style.button_text %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @user.residencies.present? %>
  <%= render partial: 'layouts/pretty_header', locals: {
    title: 'Your Home',
    text: 'This is your home! Here is some information about it.'
  } %>

  <div class="card residence-info">
    <div class="card-body row">
      <div class="col-lg-6">
        <h2>Address Information</h2>
        <p>
        <strong>Address city:</strong>
        <%= @property.address_city %>
        </p>
        <p>
        <strong>Address line1:</strong>
        <%= @property.address_line1 %>
        </p>
        <p>
        <strong>Address state:</strong>
        <%= @property.address_state %>
        </p>
        <p>
        <strong>Address postal:</strong>
        <%= @property.address_postal %>
        </p>
        <p>
        <strong>Name:</strong>
        <%= @property.name %>
        </p>
        <p>
        <strong>Description:</strong>
        <%= @property.description %>
        </p>
      </div>

      <div class="col-lg-6">
        <% if @property.property_images.present? %>
          <div id="carouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner bg-dark text-center">
              <div class="carousel-item active">
                <%= image_tag @property.property_images.first.image.url(:medium),
                  class: 'd-block',
                  style: 'margin: 0 auto;height: 250px; max-width: 100%' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
  var linkHandler = Plaid.create({
    env: "<%= ENV['PLAID_ENV'] %>",
    clientName: 'LordCore',
    apiVersion: 'v2',
    selectAccount: true,
    key: "<%= ENV['PLAID_PUBLIC_KEY'] %>",
    product: 'auth',
    onSuccess: function(public_token, metadata) {
      // Disable the connect button
      $('#linkButton').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Connecting your account...");
      // Append the public_token and account_id to the form
      $('#ach_form').append($('<input type="hidden" name="public_token" />').val(public_token));
      $('#ach_form').append($('<input type="hidden" name="account_id" />').val(metadata.account_id));

      // Submit the form
      $('#ach_form').submit();
    },
  });

  // Trigger the Link UI
  document.getElementById('linkButton').onclick = function(event) {
    event.preventDefault();
    linkHandler.open();
  };
</script>
