<%= form_with(model: unit, local: true, url: property_units_path) do |form| %>
  <%= render partial: 'layouts/errors', locals: { object: unit } %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :unit_description %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :unit_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
