<nav aria-label="breadcrumb" class="sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, company_path(@company) %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page">Units</li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Units',
  text: ''
} %>

<%= link_to 'New Unit', new_property_unit_path(params[:property_id]) %>

<div id="propertyId" data-property-id="<%= params[:property_id] %>" />

<%= javascript_pack_tag 'unit_filter_table' %>
