<nav aria-label="breadcrumb" class="sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page">Units</li>
  </ol>
</nav>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Units',
  text: 'Manage your units. Use the table below to filter units, and click into any unit to see more details'
} %>

<div class="text-center mb-4 mt-0">
  <%= link_to 'Create New', new_property_unit_path(params[:property_id]), class: '' %>
</div>

<div id="propertyId" data-property-id="<%= params[:property_id] %>" />

<%= javascript_pack_tag 'unit_filter_table' %>
