<nav aria-label="breadcrumb" class="bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, company_path(@company) %></li>
    <li class="breadcrumb-item"><%= link_to @property.name, property_path(@property) %></li>
    <li class="breadcrumb-item"><%= link_to "Units", property_units_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @unit.name %></li>
  </ol>
</nav>

<div class="card">
  <h2 class="card-header">
    <%= @unit.name %>
  </h2>
  <div class="card-body">
    <p>
      <strong>Property:</strong>
      <%= @unit.property_id %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @unit.description %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @unit.name %>
    </p>


    <%= link_to 'Edit', edit_property_unit_path(@unit.property, @unit) %> |
    <%= link_to 'Back', property_units_path(@unit.property) %> |
    <%= link_to 'Back To Property', property_path(@unit.property) %>
  </div>
</div>

<% if @unit.payments %>
  <div class="card">
    <h2 class="card-header">
      Payments
    </h2>
    <div class="card-body">
      <%= render 'shared/payments/table', payments: @unit.payments %>
    </div>
  </div>
<% end %>
