<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @unit.property_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<%= link_to 'Edit', edit_property_unit_path(@unit.property, @unit) %> |
<%= link_to 'Back', property_units_path(@unit.property) %> |
<%= link_to 'Back To Property', property_path(@unit.property) %>
