<nav aria-label="breadcrumb" class="breadcrumb-nav sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item active" aria-current="page">Expenses</li>
  </ol>
</nav>
<%= render partial: 'layouts/pretty_header', locals: {
  title: "Expenses for #{current_property_manager.company.name}",
  text: 'These are all expenses for your company.' }
%>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class='thead-default'>
          <tr>
            <th>ID</th>
            <th>Created At</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.id %></td>
              <td><%= human_date(expense.created_at) %></td>
              <td><%= number_to_currency(expense.human_amount) %></td>
              <td><%= link_to 'show', expense_path(expense) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
