<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Welcome to the Neighborhood',
  text: 'To accept this invitation, please create a new password.'
} %>

<div class="card">
  <div class="card-body">
    <%= form_with(model: @user, local: true, url: user_invitation_acceptances_path, method: :post) do |f| %>
      <%= render partial: 'layouts/errors', locals: { object: @user } %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation%>
        <%= f.password_field :passwor_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit 'Accept Invitation', class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
