<!DOCTYPE html>
<html>
  <head>
    <title>LordCore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">LordCore</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', page_path(id: 'home'), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <!-- <form class="form&#45;inline my&#45;2 my&#45;lg&#45;0"> -->
        <!--   <input class="form&#45;control mr&#45;sm&#45;2" type="text" placeholder="Search"> -->
        <!--   <button class="btn btn&#45;outline&#45;success my&#45;2 my&#45;sm&#45;0" type="submit">Search</button> -->
        <!-- </form> -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
