<!DOCTYPE html>
<html>
  <head>
    <title>LordCore</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navs/main_nav' %>
    <div class="container-fluid container-md">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
